/* Ids para Divs*/
#div1 {
	padding: 1em;
	font-family: verdana;
	font-size: 16px;
	color: #C83060;
	background-color: #000;
	text-align: center;
}
#div2 {
	padding: 1em;
	font-family: fantasy;
	font-size: 20px;
	color: #41F1FA;
	background-color: #CC1010;
	border: 3px solid #F2C130;
	text-align: center;
}
#div3 {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	color: #000;
	background-color: #f90;
	border: 2px solid gray;
	text-align: center;
}

/* Ids de Miscelânea*/
#copyright {
	margin-top: 10em;
	background-color: #010101;
	font-family: arial;
	font-size: 10px;
	text-align: center;
	color: #FFF;
}
#imagem {
	padding: 1em;
	text-align: center;
}
#sidebarR {
	padding: 1%;
	padding-right: 30%;
	background-color: #f90;
	border: 2px solid #AAA;
	text-align: center;
	font-family: verdana;
	font-size: 15px;
	color: #41A1FA;
}
#articulo {
	padding: 1em;
	font-family: verdana;
	font-size: 12px;
	color: #000;
	background-color: #f90;
	border: 2px solid gray;
	text-align: center;
}

/* Classes */
.container {
	margin: 0;
	width: 100;
}
#place {
	background-color: #FFF;
	color: #111;
	font-family: verdana;
	border: 2px solid #AAA;
	text-align: center;
	width: 660px;
	float: left;
}
#place img {
	border: 1px solid #c7c7c7;
	width: 620px;
	height: 380px;
	padding: 2px;
}
menu {
	font-family: verdana;
	font-size: 16px;
	background-color: #FFFBE4;
	border: 1px solid #C9BC8F;
	padding: 10px;
	float: right;
}
  .sidebar h3 {
  	font-size: 14px;
  	font-family: verdana;
  	margin-top: 0;
  }
  .sidebar ol {
  	font-size: 12px;
  	font-family: verdana;
  }

/* Fontes */
#h1a {
	color: #20C3FC;
	font-family: arial;
	font-weight: bold;
	text-align: center;
}
#h1a:hover {
	color: #FFF;
	font-family: arial;
}

/* Cores De Fundo*/
#amarelo-pastel {
background-color: #FFFFA0;
}
#foot {
	background-color: #000;
	color: #FFF;
	font-size: 14px;
	font-family: arial black;
	text-align: center;
	height: 20px;
	clear: both;
	border: 2px solid #AAA;
	float: bottom;
}
#verde {
	font-size: 25px;
	font-family: arial;
	text-align: center;
	background-color: #008800;
	color: #EEEEEE;
	padding: 1em;
	clear: both;
}